@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);
@import '@fontsource/poppins';
@import '@fontsource/fira-code';

@theme {
    /* Your preferred text font. Starlight uses a system font stack by default. */
    --font-sans: 'Poppins';
    /* Your preferred code font. Starlight uses system monospace fonts by default. */
    --font-mono: 'Fira Code';
    /* Your preferred accent color. Indigo is closest to Starlight’s defaults. */
    --color-accent-50: var(--color-orange-50);
    --color-accent-100: var(--color-orange-100);
    --color-accent-200: var(--color-orange-200);
    --color-accent-300: var(--color-orange-300);
    --color-accent-400: var(--color-orange-400);
    --color-accent-500: var(--color-orange-500);
    --color-accent-600: var(--color-orange-600);
    --color-accent-700: var(--color-orange-700);
    --color-accent-800: var(--color-orange-800);
    --color-accent-900: var(--color-orange-900);
    --color-accent-950: var(--color-orange-950);
    /* Your preferred gray scale. Zinc is closest to Starlight’s defaults. */
    --color-gray-50: var(--color-neutral-50);
    --color-gray-100: var(--color-neutral-100);
    --color-gray-200: var(--color-neutral-200);
    --color-gray-300: var(--color-neutral-300);
    --color-gray-400: var(--color-neutral-400);
    --color-gray-500: var(--color-neutral-500);
    --color-gray-600: var(--color-neutral-600);
    --color-gray-700: var(--color-neutral-700);
    --color-gray-800: var(--color-neutral-800);
    --color-gray-900: var(--color-neutral-900);
    --color-gray-950: var(--color-neutral-950);
}